<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для Никиты</title>
    <link rel="stylesheet" href="static/styles/style_for_hackaton_2_index.css">
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>

<body>
    <main>
        <div class="hero">
            <div class="center">
                <h1>Это не просто соц сеть</h1>
                <div class="info">
                    <div class="info2">
                        <h4> Наш сайт разработан, чтобы соединить вас с единомышленниками, которые разделяют ваши интересы, независимо от того, ищете ли вы друзей, коллег или просто людей, с которыми можно поболтать.</h4>
                    </div>
                </div>
                <div class="registration">
                    <div class="reg">
                        <div class="slova">
                            <a href="/contact">РЕГИСТРАЦИЯ</a>
                        </div>
                    </div>
                    <div class="in">
                        <a href="/entrance">ВХОД</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>