<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для Никиты</title>
    <link rel="stylesheet" href="static/styles/style_for_hackaton_3_reg.css">
    <link rel="stylesheet" href="~/css/Entrance.css" asp-append-version="true" />
</head>

<body>
    <main>
        <div class="hero">
            <div class="center">
                <div class="registry">
                    <h2> ВХОД </h2>
                </div>
                <div class="poloska">
                    <h2 class="chertochka">________________</h2>
                </div>
                <div class="username">
                    <input type="text" placeholder=" Введите логин">
                </div>
                <div class="password"> 
                    <input type="password" placeholder=" Введите пароль">
                </div>
                <div class="button">
                    <input class="button1"
                           type="submit"
                           value="ВОЙТИ"
                           disabled>
                </div>
            </div>
        </div>
    </main>
</body>

</html>