<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для Никиты</title>
    <link rel="stylesheet" href="static/styles/Recommended.css">
    <link rel="stylesheet" href="~/css/Findfriends.css" asp-append-version="true" />
</head>

<body>
    <nav class="naidy_nekkitu">
        <div class="name_sait">
            <h2 class="name"> Найди Никиту by Нулевой закон</h2>
        </div>
    </nav>
    <main>
        <div class="hero">
            <div class="center">
                <div class="right-section">
                    <div class="func">
                        <button class="edit-profile">Найти друзей с похожими интересами</button>
                        <button class="find-friends">Найти друзей с противоположными интересами</button>
                    </div>
                    <div class="friends">
                        <h3>Друзья</h3>
                        <div class="friends-list">
                            <div class="friend-item">
                                <img src="path/to/friend1.jpg" alt="Friend 1" class="friend-avatar">
                                <span class="friend-name">Иван Иванов</span>
                            </div>
                            <div class="friend-item">
                                <img src="path/to/friend2.jpg" alt="Friend 2" class="friend-avatar">
                                <span class="friend-name">Петр Петров</span>
                            </div>
                            <div class="friend-item">
                                <img src="path/to/friend2.jpg" alt="Friend 2" class="friend-avatar">
                                <span class="friend-name">Андрей Кузнецов</span>
                            </div>
                            <div class="friend-item">
                                <img src="path/to/friend2.jpg" alt="Friend 2" class="friend-avatar">
                                <span class="friend-name">Алексей Сидоров</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>