@model Test
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для Никиты</title>
    <link rel="stylesheet" href="static/styles/style_for_hackaton_4_test.css">
    <link rel="stylesheet" href="~/css/Test.css" asp-append-version="true" />
</head>

<body>
    <form asp-action="Save" asp-controller="Test">
    <main>
        <div class="hero">
            <div class="questions">
                <div class="question1">
                    <h3 class="text_1">1.Я интересуюсь научными открытиями и технологическими новинками.</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[0]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[0]" value="скорее нет чем да">
                            <label for="iskusstvo">скорее нет чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[0]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[0]" value="скорее да чем нет">
                            <label for="travel">скорее да чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[0]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question2">
                    <h3 class="text_1">2.Мне нравится обсуждать общественные и политические вопросы.</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[1]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[1]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[1]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[1]" value="скорее да, чем не">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[1]" value="да">>
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question3">
                    <h3 class="text_1">3.Искусство и культура занимают важное место в моей жизни.</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[2]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[2]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[2]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[2]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[2]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question4">
                    <h3 class="text_1">4.Я считаю, что важно помогать другим людям</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[3]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[3]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[3]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[3]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[3]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question5">
                    <h3 class="text_1">5.Я охотно пробую новые виды хобби или деятельности</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[4]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[4]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[4]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[4]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[4]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question6">
                    <h3 class="text_1">6.Я предпочитаю активный отдых на природе, а не времяпровождение дома</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[5]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[5]" value="скорее нет, чем да">
                            <label for="iskusstvo"> скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[5]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[5]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[5]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question7">
                    <h3 class="text_1">7.Я ценю традиционные семейные ценности и устои</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[6]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[6]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[6]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[6]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[6]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question8">
                    <h3 class="text_1">8.Меня вдохновляют успехи других людей</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[7]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[7]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[7]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[7]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[7]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question9">
                    <h3 class="text_1">9.Я считаю, что самореализация важнее материального достатка</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[8]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[8]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[8]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[8]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[8]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question10">
                    <h3 class="text_1">10.Мне нравится изучать философские или духовные вопросы</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[9]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[9]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[9]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[9]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[9]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question11">
                    <h3 class="text_1">11.Я готов участвовать в решении глобальных проблем, таких как изменение климата</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[10]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[10]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[10]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[10]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[10]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question12">
                    <h3 class="text_1">12.Я чувствую потребность быть в курсе всех текущих новостей и событий</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[11]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[11]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[11]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[11]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[11]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question13">
                    <h3 class="text_1">13.Мне комфортно делиться своими личными взглядами и убеждениями с другими</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="sport" type="radio" name="Answers[12]" value="нет">
                            <label for="yes">нет</label>
                        </div>
                        <div class="answer1">
                                <input id="iskusstvo" type="radio" name="Answers[12]" value="скорее нет, чем да">
                            <label for="iskusstvo">скорее нет, чем да</label>
                        </div>
                        <div class="answer2">
                                <input id="technology" type="radio" name="Answers[12]" value="нейтрально">
                            <label for="technology">нейтрально</label>
                        </div>
                        <div class="answer3">
                                <input id="travel" type="radio" name="Answers[12]" value="скорее да, чем нет">
                            <label for="travel">скорее да, чем нет</label>
                        </div>
                        <div class="answer4">
                                <input id="liter" type="radio" name="Answers[12]" value="да">
                            <label for="liter">да</label>
                        </div>
                    </div>
                </div>

                <div class="question14">
                    <h3 class="text_1">14.Хотели бы вы общаться с людьми противоположных взглядов?</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                                <input id="yes" type="radio" name="Answers[13]" value="да">
                            <label for="yes">да</label>
                        </div>
                        <div class="answer1">
                                <input id="no" type="radio" name="Answers[13]" value="нет">
                            <label for="no">нет</label>
                        </div>
                    </div>
                </div>
            </div>

            <input type="submit" value="Сохранить" />
        </div>
    </main>
    </form>
</body>

</html>