<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для Никиты</title>
    <link rel="stylesheet" href="static/styles/style_for_hackaton_4_test.css">
    <link rel="stylesheet" href="~/css/Test.css" asp-append-version="true" />
</head>

<body>
    
    
    <main>
        <div class="hero">
            <div class="questions">
                <div class="question1">
                    <h3 class="text_1">1. Чем вы предпочитаете заниматься в свободное время?</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Спорт и активный отдых</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Искусство</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Технологии (IT, гаджеты, игры)</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Путешествия и природа</label>
                        </div>
                        <div class="answer4">
                            <input id="liter" type="radio" name="question">
                            <label for="liter">Литература, чтение научных статей</label>
                        </div>
                    </div>
                </div>

                <div class="question2">
                    <h3 class="text_1">2. Какую обстановку вы предпочитаете?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Многолюдные и шумные места</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Спокойные и уединённые пространства</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Места с балансом тишины и активности</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Открытые природные пространства</label>
                        </div>
                    </div>
                </div>

                <div class="question3">
                    <h3 class="text_1">3. Что для вас важнее всего в общении с другими?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Поддержка и эмпатия</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Интересные дискуссии и обмен идеями</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Общие цели и командная работа</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Весёлое и непринуждённое времяпрепровождение</label>
                        </div>
                    </div>
                </div>

                <div class="question4">
                    <h3 class="text_1">4. Как вы предпочитаете проводить выходные?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">С друзьями или семьёй</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Занимаясь любимым хобби</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">В путешествиях или походах</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Дома, отдыхая в одиночестве</label>
                        </div>
                    </div>
                </div>

                <div class="question5">
                    <h3 class="text_1">5. Как вы относитесь к неожиданным переменам?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Стараюсь избегать</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Принимаю, но с осторожностью</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Вижу их как вызов и возможность</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Абсолютно спокойно</label>
                        </div>
                    </div>
                </div>

                <div class="question6">
                    <h3 class="text_1">6. Что вам больше всего нравится в людях?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Искренность и открытость</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo"> Интеллект и логическое мышление</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Креативность и нестандартное мышление</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Умение поддерживать и вдохновлять</label>
                        </div>
                    </div>
                </div>

                <div class="question7">
                    <h3 class="text_1">7. Как вы подходите к решению проблем?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Анализирую ситуацию и нахожу рациональное решение</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Пробую разные подходы и импровизирую</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Консультируюсь с другими и принимаю совместное решение</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Следую интуиции</label>
                        </div>
                    </div>
                </div>

                <div class="question8">
                    <h3 class="text_1">8. Как вы выбираете книги, фильмы или музыку?(выбрать один варинт)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Ориентируюсь на рекомендации друзей или экспертов</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Выбираю, исходя из собственных интересов и вкусов</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Пробую что-то новое, чтобы расширить кругозор</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Часто возвращаюсь к уже знакомым и любимым произведениям</label>
                        </div>
                    </div>
                </div>

                <div class="question9">
                    <h3 class="text_1">9. Какая форма общения вам комфортнее всего?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Личное общение</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Общение в мессенджерах или соцсетях</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Голосовые или видеозвонки</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Письма или текстовые обсуждения</label>
                        </div>
                    </div>
                </div>

                <div class="question10">
                    <h3 class="text_1">10. Как вы относитесь к спорным темам и дискуссиям?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Участвую активно и с удовольствием</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Занимаю нейтральную позицию, слушаю больше, чем говорю</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Избегаю острых обсуждений</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Использую их как способ лучше понять других и их точку зрения</label>
                        </div>
                    </div>
                </div>

                <div class="question11">
                    <h3 class="text_1">11. Какие научные или профессиональные области вам наиболее интересны?(выбрать до трех ответов)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Технологии и программирование</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Искусство и дизайн</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Медицина и биология</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Физика и математика</label>
                        </div>
                        <div class="answer4">
                            <input id="liter" type="radio" name="question">
                            <label for="liter">Экономика и финансы</label>
                        </div>
                        <div class="answer5">
                            <input id="economic" type="radio" name="question">
                            <label for="economic">Образование и психология</label>
                        </div>
                        <div class="answer6">
                            <input id="edu" type="radio" name="question">
                            <label for="edu">Экология и природные науки</label>
                        </div>
                    </div>
                </div>

                <div class="question12">
                    <h3 class="text_1">12. Какие задачи вам больше всего нравится решать?(выбрать один вариант)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Аналитические задачи, требующие логики и точных расчетов</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Творческие задачи, где важен нестандартный подход</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Практические задачи, направленные на улучшение окружающего мира</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Межличностные задачи, связанные с коммуникацией и управлением людьми</label>
                        </div>
                    </div>
                </div>

                <div class="question13">
                    <h3 class="text_1">13. Какой формат работы для вас наиболее комфортен?(выбрать один вариант ответа)</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="sport" type="radio" name="question">
                            <label for="yes">Работа в команде, разделяя задачи</label>
                        </div>
                        <div class="answer1">
                            <input id="iskusstvo" type="radio" name="question">
                            <label for="iskusstvo">Индивидуальная работа, с полной свободой действий</label>
                        </div>
                        <div class="answer2">
                            <input id="technology" type="radio" name="question">
                            <label for="technology">Руководство проектом или координация других</label>
                        </div>
                        <div class="answer3">
                            <input id="travel" type="radio" name="question">
                            <label for="travel">Консультирование и поддержка других</label>
                        </div>
                    </div>
                </div>

                <div class="question14">
                    <h3 class="text_1">14. Хотели бы вы общаться с людьми, которые имеют взгляды или интересы, отличные от ваших?</h3>
                    <div class="radiobuttons">
                        <div class="answer">
                            <input id="yes" type="radio" name="question">
                            <label for="yes">да</label>
                        </div>
                        <div class="answer1">
                            <input id="no" type="radio" name="question">
                            <label for="no">нет</label>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <input class="button1"
                           type="submit"
                           value="ОТПРАВИТЬ"
                           disabled>


                </div>
            </div>
    </main>
</body>

</html>