<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для Никиты</title>
    <link rel="stylesheet" href="static/styles/UserProfile.css">
    <link rel="stylesheet" href="~/css/UserProfilles.css" asp-append-version="true" />
</head>

<body>
    
    <main>
        <div class="hero">
            <div class="center">
                <div class="profile-container">
                    <div class="info">
                        <div class="profile-photo">
                            <img src="path/to/default-avatar.jpg" alt="Фото профиля" class="avatar">
                        </div>
                        <div class="profile-info-container">
                            <div class="username-block">
                                <h3>Имя пользователя</h3>
                            </div>
                            <div class="about-block">
                                <p>Ключевой вопрос:</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-section">
                        <div class="func">
                            <button class="edit-profile">Редактировать профиль</button>
                            <button class="find-friends" onclick="window.location.href='/findfriends';">Найти друзей</button>
                        </div>
                        <div class="friends">
                            <h3>Друзья</h3>
                            <div class="friends-list">
                                <div class="friend-item">
                                    <img src="path/to/friend1.jpg" alt="Friend 1" class="friend-avatar">
                                    <span class="friend-name">Иван Иванов</span>
                                </div>
                                <div class="friend-item">
                                    <img src="path/to/friend2.jpg" alt="Friend 2" class="friend-avatar">
                                    <span class="friend-name">Петр Петров</span>
                                </div>
                            </div>
                        </div>
                        <div class="about-me">
                            <h3>О себе</h3>
                            <div class="about-content">
                                <p>Краткая информация о себе и своих интересах...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>